<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>安全密码的dome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E7A46B91BEC3C4400513F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7A46D21BEC3C4400513F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7A46DD1BEC3C4400513F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
